.title h1 {
  font-family: "Manrope", sans-serif;
}

nav a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  color: #6c757d;
  padding-bottom: 2px;
  font-family: "Jost", sans-serif;
}

nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav .nav-menu-item:hover {
  color: #0d6efd;
}

.home {
  height: 100vh;
}

.btn {
  font-size: 0.9rem;
}

.btn-item {
  background-color: #0d6efd;
  transition: 0.3s ease;
  color: white;
}

.btn-outline-primary {
  transition: 0.3s ease;
}

.btn-item:hover,
.btn-outline-primary:hover {
  background-color: #06439d;
  color: #0d6efd;
}

.home .row .col h1 {
  font-family: "Manroupe", sans-serif;
}

.home .row .col p {
  font-family: "IBM Plex Sans", sans-serif;
}

.btn {
  font-family: "IBM Plex Sans", sans-serif;
}

.icon {
  background-color: rgba(13, 110, 253, 0.25);
}

.fitur-item h4 {
  font-family: "Jost", sans-serif;
}
